{% extends 'quotes/base.html' %}

{% block content %}
  <h1>Add a New Quote</h1>
  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.quote.id_for_label }}">Quote</label>
        {{ form.quote }}
    </div>

    <div class="form-group">
        <label for="{{ form.author.id_for_label }}">Author</label>
        {{ form.author }}  <!-- Поле для вибору автора -->
    </div>

    <div class="form-group">
    <label for="{{ form.tags.id_for_label }}">Tags</label>
    <select multiple="multiple" name="tags" class="form-control">
      {% for tag in form.tags %}
        <option value="{{ tag.id }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
</div>


    <button type="submit" class="btn btn-primary">Save Quote</button>
  </form>

  {% if form.errors %}
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
