{% extends 'quotes/base.html' %}
{% load extract %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        {% if quotes_on_page %}
        {% for quote in quotes_on_page %}
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <span>by
                <small class="author" itemprop="author">
                    {% if quote.author %}
                    <h3><a href="{% url 'author_detail' author_id=quote.author.id %}">{{ quote.author.name }}</a></h3>
                    {% else %}
                    <h3>Unknown Author</h3>
                    {% endif %}
                </small>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                <a class="tag" href="{% url 'quotes_by_tag' tag=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No quotes available at the moment.</p>
        {% endif %}
    </div>

    <div class="col-md-4">
        <!-- Top Ten Tags Block -->
        <h3>Top Ten Tags</h3>
        <ul>
            {% for tag, count in top_tags %}
            <li><a href="{% url 'quotes_by_tag' tag=tag %}">{{ tag }} ({{ count }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<nav>
    <ul class="pager">
        {% if quotes_on_page.has_previous %}
        <li class="previous">
            <a href="?page={{ quotes_on_page.previous_page_number }}">← Previous</a>
        </li>
        {% endif %}
        {% if quotes_on_page.has_next %}
        <li class="next">
            <a href="?page={{ quotes_on_page.next_page_number }}">Next →</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}