{% extends 'quotes/base.html' %}

{% block content %}
<h1>Quotes tagged with "{{ tag }}"</h1>

<div class="quotes">
    {% if quotes %}
        {% for quote in quotes %}
        <div class="quote">
            <p>{{ quote.quote }}</p>
            <p>by {{ quote.author_name }}</p> <!-- Використовуємо author_name -->
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                    <a href="{% url 'quotes_by_tag' tag=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No quotes found for this tag.</p>
    {% endif %}
</div>

<!-- Top Ten Tags Block -->
<h3>Top 10 Tags</h3>
<ul>
    {% for tag, count in top_tags %}
        <li><a href="{% url 'quotes_by_tag' tag=tag %}">{{ tag }} ({{ count }})</a></li>
    {% endfor %}
</ul>

{% endblock %}
